<!--
File Name: reporting.component.html
Component Name: reporting
Purpose: This is an HTML file which allows the display of assessment
  based on user role.  If user is an 'admin', it allows for the selection of which account's assessments to view based on the accounts associated 
  with that admin email. 
Date: 4/15/2021
Group Developer Name: Adv-Access Interns Spring 2021
-->
<div style = "margin-left: 20px;">
  <!--Beginning of form, submit button calls onSubmit() method-->
    <form (ngSubmit)="onSubmit()">
    <div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2>Reporting</h2>
        </div>
        <!--this is for admin only functionality-->
        <div [hidden] = "!ifAdmin">
          <form>
            <!--Beginning of form which allows for assessments to be chosen based on the accountName-->
            <select [(ngModel)]="accountChosen" name="first" >
              <!--account, which equates to accountName is stored in 'accountChosen' variable-->
              <option *ngFor="let account of accountNames | async; let num = index" [ngValue] = "account">{{account}}</option>
            </select>
            <!--When clicked, button calls displayAssessmentsFromAccount and passes in 'accountChosen' as a parameter-->
            <button class="btn btn-success" (click)="displayAssessmentsFromAccount(accountChosen)">Display Assessments</button> 
  
          </form>
        </div>

        <!--Display assessments table begins-->
        <div class="panel-body">
          <table class="table table-striped">
            <!--These are the table headings, or sections of each column-->
            <thead>
              <tr>
                <th>Assessment Number </th>
                <th>Assessment ID</th>
                <th>User Email</th>
                <th>Account Name</th>
                <th>Assessment Type</th>
                <th>Created Date</th>
              </tr>
            </thead>
          <tbody>
            <!--Uses a for loop to cycle through the assessments[] and prints the data fields of each assessment as it cycles through-->
            <tr *ngFor="let assessment of assessments | async; let num = index">
              <td>{{num + 1}}</td>
              <td>{{assessment.id}}</td>                    
              <td>{{assessment.userEmail}}</td>
              <td>{{assessment.accountName}}</td>
              <td>{{assessment.assessmentType}}</td>
              <td>{{assessment.assessmentCreatedDate}}</td>
            </tr>
          </tbody>
        </table>
        </div>
      <!--End of assessment display table-->

      <!--Beginning of form which will allow an assessment to be chosen for viewing-->
        <form>
        <!--Gives serially numbered options of assessments from which user can choose, stores choice in 'selectedOption' variable-->
          <select [(ngModel)]="selectedOption" name="first" >
          <!--assessment.id of the chosen assessment is stored in 'selectedOption'-->            
            <option *ngFor="let assessment of assessments | async; let num = index" [ngValue] = "assessment.id">{{num + 1}}</option>
          </select>
        </form>
      <!--end of form for selection of assessment-->
      </div>
    </div>
    <!--Submit the chosen assessment, calls onSubmit()-->
    <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
  <!--End of assessment display table and selection area-->

  
  
  <!--This section will display the individual assessment which was selected using the selectedOption (assessment.id) to 
  call the assessment from the database.  This html section will then display the assessment on the screen for the user 
  to view-->
  <div style = "margin-left: 20px;">
    <div *ngIf="assessmentByID">
      <h2>Current Assessment</h2>
      <span style= "font-weight: bold;">ID: </span>{{(assessmentByID | async).id}} <p></p>
      <span style = "font-weight: bold;">User Email: </span> {{(assessmentByID | async).userEmail}} <p></p>
      <span style = "font-weight: bold;">Account Name: </span> {{(assessmentByID | async).accountName}} <p></p>
      <span style = "font-weight: bold;">Assessment Type: </span>{{(assessmentByID | async).assessmentType}} <p></p>
      <span style = "font-weight: bold;">Assessment Status: </span>{{(assessmentByID | async).assessmentStatus}} <p></p>
      <span style = "font-weight: bold;">Date Created: </span>{{(assessmentByID | async).assessmentCreatedDate}} <p></p>
      <span style = "font-weight: bold">Date Modified: </span>{{(assessmentByID | async).assessmentModifiedDate}} <p></p>
      <span style = "font-weight: bold;">Assessment Responses: </span><p></p>
      <div *ngFor = "let question of individualAssessment.assessment">
        <b>Question:</b> {{question.question}}<br>
        <div style="margin-left: 20px;">
          Response 1: {{question.response1}}<br>
          Response 2: {{question.response2}}<br>
          Response 3: {{question.response3}}<br>
          Response 4: {{question.response4}}<br>
        </div>
        <div style="margin-left: 20px;">
          <b>User Response: </b> {{question.selection}}
        </div>
        <br> <!-- formatting -->
      </div>
  
      <br>
      <span style = "font-weight: bold;">Assessment Status: </span> {{(assessmentByID | async).assessmentStatus}} <p></p>
      <span style = "font-weight: bold;">Objective: </span>{{(assessmentByID | async).objective}} <p></p>
      <span style = "font-weight: bold;">Comments: </span>{{(assessmentByID | async).comments}} <p></p>
      <span style = "font-weight: bold;">Document: </span>{{(assessmentByID | async).document}}<p></p>

  
  
    </div>
  </div>