<!--
File Name: new-assessment.component.html
Component Name: new-assessment
Purpose: This is an HTML file which allows the user to create a new assessment while providing input options, dropdown menus etc.
    based on the user's needs.
Date: 4/15/2021
Group Developer Name: Adv-Access Interns Spring 2021
-->
<h1 style = "margin-left: 20px;">New Assessment</h1>

<!--Beginning of shown section of this page-->
<div [hidden] = "submitted" style = "margin-left: 20px;">
    <!--Beginning of entire form for whole visible area-->
    <form (ngSubmit)="onSubmit()" class="form-group" #f="ngForm">
        <!--Beginning of form to add needed values-->
        <!--Once assessment is chosen this section of code is hidden-->
        <div [hidden] = "assessmentChosen">
            <!--Type of assessment is stored in assessment.assessmentType which then allows the ts file to pull the correct
            type of assessment questions to display to the user-->
            <form class = "form-group" #f = "ngForm">
                Assessment Type:
                <form>
                    <select name = "types" [(ngModel)]="assessment.assessmentType" name = "assessmentType">
                    <option value = "DevOps">DevOps</option>
                    <option value = "Agile">Agile</option>
                    </select>
                </form>
                <!--Button calls choose assessment to save above value and to allow ts file to pull and display questions-->
                <button class = "btn btn-success" (click) = "chooseAssessment()">Choose Assessment Type</button>
            </form>
        </div>

        <!--Revealed once the type of assessment has already been chosen-->
        <div [hidden] = "!assessmentChosen">
            <form class="form-group" #f="ngForm">
                <!--Input for user to enter for various fields of the assessment object-->
                <div class="form-group">
                    <label for="accountName">Account Name: </label> <input type="text"class="form-control" id="accountName" required [(ngModel)]="assessment.accountName" name="accountName"/>
                    <br>
                    <label for="applicationName">Application Name: </label> <input type="text"class="form-control" id="applicationName" required [(ngModel)]="assessment.applicationName" name="applicationName"/>
                    <br>
                    <label for="objective">Objective: </label> <input type="text" size = "50" class="form-control" id="objective" required [(ngModel)]="assessment.objective" name="objective"/>
                    <br>
                    <label for="comments">Comments: </label> <input type="text" size = "50" class="form-control" id="comments" required [(ngModel)]="assessment.comments" name="comments"/>
                    <br>

                    <!--Attach document capability-->
                    <h4>Upload New Document</h4>
                    <input type="file" (change)="onChange($event)" accept=".txt" />
                    <p>(.txt format)<p>
                    <br>
                </div>
            </form>
            <!--End of form to submit new assessment-->

            <!--Forms to display questions-->
            <form *ngFor = "let question of questions | async; let num = index">
                <h4> Question {{num+1}}  </h4>
                <div name='"Question"+ {{num+1}}'> <label>{{question.question}}</label> <br>
                    <ol>
                        <li>{{question.response1}}</li>
                        <li>{{question.response2}}</li>
                        <li>{{question.response3}}</li>
                        <li>{{question.response4}}</li>
                    </ol>

                </div>
                <form>
                    <!--Each question answer is saved in newQuestion.selection, and is pushed to the Questions[] using saveQuestion, and feeding
                    in the question as a parameter to that function-->
                    <select name = "values" [(ngModel)]="newQuestion.selection" (change)="saveQuestion(question)" [ngModelOptions] = "{standalone: true}">
                    <option [ngValue] = "1">1</option>
                    <option [ngValue] = "2">2</option>
                    <option [ngValue] = "3">3</option>
                    <option [ngValue] = "4">4</option>
                    </select>
                </form>
                <br>
            </form>
            <!--End of form to display questions-->
        <button type="submit" class="btn btn-success">Create Assessment</button>
        </div>
    </form>
    <!--End of entire shown section-->
</div>
<!--End of shown section-->


<!--Beginning of the submitted response section-->
<div [hidden] = "!submitted" style = "margin-left: 20px;">
    <h4> You created a new assessment successfully!</h4>
    <button class = "btn btn-success" (click) = "newAssessment()">Create New Assessment</button>
</div>
<!--End of the the submitted response section-->


