<!--
File Name: update-assessment.component.html
Component Name: update-assessment
Purpose: This is an HTML file while allows the user to update an assessment which is chosen on the 'My Assessments' page
Date: 4/15/2021
Group Developer Name: Adv-Access Interns Spring 2021
-->

<h1 style = "margin-left: 10px;">Update Assessment</h1>

<!--Beginning of shown section of this page-->
<div [hidden] = "submitted" style = "margin-left: 20px;" >
    <!--Beginning of entire form for whole visible area-->
    <form (ngSubmit)="onSubmit()" class="form-group" #f="ngForm">
        <!--Beginning of form to add needed values-->
        Assessment ID: {{assessmentID}}    
            
        <div>
            <form class="form-group" #f="ngForm">
                <div class="form-group">
                    <label for="accountName">Account Name: </label> <input type="text"class="form-control" id="accountName" required [(ngModel)]="assessment.accountName" name="accountName"/> 
                    <br> 
                    <label for="applicationName">Application Name: </label> <input type="text"class="form-control" id="applicationName" required [(ngModel)]="assessment.applicationName" name="applicationName"/> 
                    <br> 
                    <label for="objective">Objective: </label> <input type="text" size = "50" class="form-control" id="objective" required [(ngModel)]="assessment.objective" name="objective"/> 
                    <br>
                    <label for="comments">Comments: </label> <input type="text" size = "50" class="form-control" id="comments" required [(ngModel)]="assessment.comments" name="comments"/> 
                    <br>
                    
                    <!--Insert attach document capability-->
                    <h4>Upload New Document</h4>
                    <input type="file" (change)="onChange($event)" accept = ".txt" />
                    <p>(.txt format)<p>
                    <br>

                </div>
            </form>
            <!--End of form to submit new assessment-->


            <!--Forms to display questions-->
            <form *ngFor = "let question of questions | async; let num = index">
                <h4> Question {{num+1}}  </h4>  
                <div name='"Question"+ {{num+1}}'> <label>{{question.question}}</label> <br>
                    <ol>
                        <li>{{question.response1}}</li>
                        <li>{{question.response2}}</li>
                        <li>{{question.response3}}</li>
                        <li>{{question.response4}}</li>
                    </ol>
                
                </div>
                <form>
                    <select name = "values" [(ngModel)]="newQuestion.selection" (change)="saveQuestion(question)" [ngModelOptions] = "{standalone: true}">
                    <option [ngValue] = "1">1</option>
                    <option [ngValue] = "2">2</option>
                    <option [ngValue] = "3">3</option>
                    <option [ngValue] = "4">4</option>
                    </select>
                </form>
                <br>
                <!--This will become the autosave functionality-->
                <br> 
            </form>
            <!--End of form to display questions-->
        <button type="submit" class="btn btn-success">Update Assessment</button>
        </div>
    </form>
    <!--End of entire shown section-->
</div>
<!--End of shown section-->


<!--Beginning of the submitted response section-->
<div [hidden] = "!submitted">
    <h4> You created a new assessment successfully!</h4>
    <button class = "btn btn-success" (click) = "viewAssessmentsRoute()">Go back to View My Assessments</button>
</div>
<!--End of the the submitted response section-->

    
 