.spacer {
    flex: 1 1 auto;
  }
  
  .example-sidenav-container {
    flex: 1 0 auto;
  }
  

mat-sidenav {
    width: 280px;
    padding:15px;
}
.mat-drawer { 
    background-color: #3f51b5;
    color:rgb(255, 255, 255)
}
.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}
