/*
File Name: add-users.component.css
Component Name: add-users
Purpose: This is a css file which adds styling to the html file in this component
Date: 4/15/2021
Group Developer Name: Adv-Access Interns Spring 2021
*/
input[type=text] {
    width: 100%;
    box-sizing: content-box;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: medium;
  }

input[type=password] {
    width: 100%;
    box-sizing: content-box;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: medium;
  }

input[type=radio] {
    transform: scale(1.8);
    margin: 10px 12px 10px 15px
}

button{
    color: white;
    background-color: rgb(33, 190, 106);
    padding: 8px 40px;
    cursor: pointer;
    margin-top: 10px;
}

