/*
File Name: header.component.css
Component Name: header
Purpose: This is a css file which adds styling and formatting to the header component
Date: 4/15/2021
Group Developer Name: Adv-Access Interns Spring 2021
*/


.spacer {
    flex: 1 1 auto;
  }
  
  .example-sidenav-container {
    flex: 1 0 auto;
    
  }
  

mat-sidenav {
    width: 280px;
    padding:15px;
}
.mat-drawer { 
    background-color: #3f51b5;
    color:white;
}
.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}

.menu.color{
    color: white;
}

.Logout{
    background-color: crimson;
}