/*
File Name: home.component.css
Component Name: home
Purpose: This is a css file which adds styling and formatting to the home component. Currently unused.
Date: 4/15/2021
Group Developer Name: Adv-Access Interns Spring 2021
*/


h1 {
    margin-left: 20px;
}
